<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.safe.core.mapper.AreaPositionRefMapper">
  <resultMap id="BaseResultMap" type="com.safe.core.beans.AreaPositionRef">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="position_id" jdbcType="INTEGER" property="positionId" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="radius" jdbcType="VARCHAR" property="radius" />
  </resultMap>
  <sql id="Base_Column_List">
    id, position_id, type, radius
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from area_position_ref
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from area_position_ref
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.safe.core.beans.AreaPositionRef">
    insert into area_position_ref (id, position_id, type, 
      radius)
    values (#{id,jdbcType=INTEGER}, #{positionId,jdbcType=INTEGER}, #{type,jdbcType=VARCHAR}, 
      #{radius,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.safe.core.beans.AreaPositionRef">
    insert into area_position_ref
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="positionId != null">
        position_id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="radius != null">
        radius,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="positionId != null">
        #{positionId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="radius != null">
        #{radius,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.safe.core.beans.AreaPositionRef">
    update area_position_ref
    <set>
      <if test="positionId != null">
        position_id = #{positionId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="radius != null">
        radius = #{radius,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.safe.core.beans.AreaPositionRef">
    update area_position_ref
    set position_id = #{positionId,jdbcType=INTEGER},
      type = #{type,jdbcType=VARCHAR},
      radius = #{radius,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>